{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Doctorly</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #299cd6;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Doctorly</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/disseases">Disseases</a></li>
                    <li class="nav-item"><a class="nav-link" href="/financial-aid">Financial Aid</a</li>
                    <li class="nav-item"><a class="nav-link" href="/hospitals">Hospitals</a></li>
                </ul>
                <ul class="navbar-nav d-flex">
                    {% if user.is_authenticated %}
                        <li class="nav-item"> <a class="nav-link" href="#">{{user.username}}</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a></li>
                    {% else %}
                        <li class="nav-item"> <a class="nav-link" href="/accounts/signup"> Signup  <i class="fa fa-user-plus"></i></i></a></li>
                        <li class="nav-item"> <a class="nav-link" href="/accounts/login"> Login  <i class="fa fa-user"></i></a></li>
                    {% endif %}
                </ul>
          </div>
        </div>
      </nav>

    <header class="header">
        <div class="text-box">
            <h1 class="heading-primary">
                    <span class="heading-primary-main">Doctorly</span>
                    <span class="heading-primary-sub">Find low cost adolescent healthcare</span>
            </h1>
            <a href="/hospitals" class="button button-white"> Discover hospitals</a>
        </div>
    </header>

    <main>
        <section class="section-about">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Healthcare services for adolescents
                </h2>
            </div>

            <div class="row">
                <div class="col-1-of-2">
                    <center>
                    <h3 class="heading-tertiary u-margin-bottom-small">The best place to save money on healthcare</h3>
                    <p class="paragraph">
                        Doctorly allows user and people to contact and recieve finacial aid from NGO's and charitable funds for all their medical needs. The filter system on the wbesite allows you to specify your own requirments for what funds you need helping you with financial needs. Thus, allowing you to save money on healthcare. 
                    </p>

                    <h3 class="heading-tertiary u-margin-bottom-small">Make your medical life easier</h3>
                    <p class="paragraph">
                        This website allows you to gain access to learn about the most commonly occuring dissesses amongst adolescents based on current circumstances. The website also has a page that gives you the ability to navigate through hundreds of hospitals nearby your mentioned area. Thus, making your medical life easier.
                    </p>
                    </center>
                </div>
                <div class="col-1-of-2"><center>
                    <img class="about-img" src="{% static 'Home/Images/Saving.jpeg' %}" alt="Photo-1">
                    <img class="about-img" src="{% static 'Home/Images/Medical.jpeg' %}" alt="Photo-2">
                </center></div>
            </div>
        </section>

        <section class="section-features">
                
            <div class="row row-1">
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-world"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Explore Diseases</h3>
                        <p class="feature-box__text fs-5">
                            Have you ever wondered to learn more about how you can prevent falling ill or being prepared to fight any dissease? Check out this page!!
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-compass"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Save your money</h3>
                        <p class="feature-box__text fs-5">
                            Falling short on money? Don't worry, Doctorly got you covered!! Check organizations and trust funds to receive financial aid on this page!!
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-map"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Access hospitals</h3>
                         <p class="feature-box__text fs-5">
                            Have a dissease and don't know where to go? Check out this page to access endless hospital choices based on your own personal demandsr!!
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-heart"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Find the best for you</h3>
                        <p class="feature-box__text fs-5">
                            So many options and your are confused what to choose? Use the filter options on pages to narrow down your choices and decide what you need!!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-hospitals">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Popular hospitals for adolescents
                </h2>
            </div>

            <div class="row row-2">
                <div class="col-1-of-3">
                    <center>
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'Home/Images/Lilavati.jpeg' %}" width="200" height="250" class="card-img-top" alt="Lilavati hospital">
                            <div class="card-body">
                                <h5 class="card-title">Lilavati</h5>
                                <p class="card-text">India's top multi speciality hospital “Lilavati Hospital” have the world best doctors & teams to give you & your children the best healthcare that you truly deserve.</p>
                                <a href="https://www.lilavatihospital.com/Contact-Us" target="_blank" class="btn btn-primary">Contact us.</a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-1-of-3">
                    <center>
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'Home/Images/Narayan.jpeg' %}" width="200" height="250" class="card-img-top" alt="narayanahealth hospital">
                            <div class="card-body">
                                <h5 class="card-title">Narayan health</h5>
                                <p class="card-text">Narayana Health is one of the best hospitals in India, providing advanced healthcare services in over 30 specialties, including Cardiology and Cardiac Surgery, Cancer Care, Neurology and Neurosurgery, Orthopaedics, Nephrology and Urology, and Gastroenterology.</p>
                                <a href="https://www.narayanahealth.org/contact-us/mumbai" target="_blank" class="btn btn-primary">Contact us.</a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-1-of-3">
                    <center>
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'Home/Images/Kokilaben.jpeg' %}" width="200" height="250"class="card-img-top" alt="kokilaben hospital">
                            <div class="card-body">
                                <h5 class="card-title">Kokilaben hospital</h5>
                                <p class="card-text">Kokilaben Dhirubhai Ambani Hospital is a tertiary-care hospital in Four Bungalows, Mumbai, India. It offers the first 3-room intra-operative MRI suite (IMRIS) in Asia, Asia's first EDGE Radiosurgery system from Varian Medical Systems, India's 1st Spine Surgery Suite featuring the O-arm and many more.</p>
                                <a href="https://www.kokilabenhospital.com/contacts.html" target="_blank" class="btn btn-primary">Contact us.</a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </section>
    </main>
</body>
</html>